<form class="mt-4" name="container-form" method="post" action="/product/handle-form-actions">
    <div>
      <h3>Sản phẩm của tôi</h3>
      <a href="/me/trash/products">Sản phẩm đã xóa ({{deletedCount}})</a>
    </div>
    <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="checkbox-all">
          <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
      </div>
      <select class="form-control form-control-sm select-all-checkbox" name="action" required>
          <option value="">--Chọn hành động--</option>
          <option value="delete">Xóa</option>
      </select>
      <button type="submit" class="btn btn-outline-primary check-all-submit-btn" disabled= "disabled">Thực hiện</button>
      <a href="/product/create" class="btn btn-outline-success form-stored__create-btn">Thêm sản phẩm</a>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th></th>
                <th scope="col">#</th>
                <th scope="col">
                  Tên sản phẩm
                  {{{sortable 'name' _sort}}}
                  </th>
                <th scope="col">Mô tả</th>

                <th scope="col">
                  Thời gian tạo
                  {{{sortable 'createdAt' _sort}}}
                </th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>
                  <div class="form-check">
                      <input type="checkbox" value="{{this._id}}" name="productIds[]" class="form-check-input">
                  </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/product/{{this._id}}/edit" class="btn btn-info">Sửa</a>
                </td>
                <td>
                    <a class="btn btn-danger text-light" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-product-modal">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr class="text-center">
              <td colspan="6">
                Không có sản phẩm nào.
                <a href="/product/create">Thêm sản phẩm</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- confirm delete  --}}
<div id="delete-product-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa sản phẩm?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn xóa sản phẩm.</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-prd" type="button" class="btn btn-danger">Xóa </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{!-- DELETE hidden form --}}

    <form name="delete-form" method="POST"></form>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        var prdId;
        var deleteForm = document.forms['delete-form']
        var containerForm = document.forms['container-form']
        var btnDeletePrd = document.getElementById('btn-delete-prd');
        var checkboxAll = $('#checkbox-all');
        var itemCheckbox = $('input[name="productIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn')
        // when dialog confirm clicked
        $('#delete-product-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) 
        prdId = button.data('id') 
        })
        // when delete product btn clicked
        btnDeletePrd.onclick = function() {
            deleteForm.action = '/product/' + prdId + '?_method=DELETE';
            deleteForm.submit();
        }
        // Checkbox all changed
        checkboxAll.change(function() {
          var isCheckedAll = $(this).prop('checked');
          itemCheckbox.prop('checked', isCheckedAll)
           renderCheckAllSubmitBtn()
          
        })

        // checkbox item product 
        itemCheckbox.change(function() {
           var isCheckedAll = itemCheckbox.length === $('input[name="productIds[]"]:checked').length
           checkboxAll.prop('checked', isCheckedAll)
           renderCheckAllSubmitBtn()
        });

        // Re-render check all submit button
        function renderCheckAllSubmitBtn() { 
          var checkedCount = $('input[name="productIds[]"]:checked').length
          console.log(checkedCount)
          if (checkedCount > 0) {
              checkAllSubmitBtn.attr('disabled', false)
          }else{
              checkAllSubmitBtn.attr('disabled', true)
          }
          
        }
    })
</script>